<section class="menu">
  <a href="javascript:history.back()" class="button">Back</a>
  <%= link_to 'Artists', artists_path, :class => "button"  %>
  <%= link_to 'Albums', lps_path, :class => "button active" %>
</section>

<div class="center_content">
  <h1>Edit Album</h1>

  <%= form_with(model: @lp, local: true) do |form| %>

    <% if @lp.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@lp.errors.count, "error") %> prohibited
          this lp from being saved:
        </h2>
        <ul>
          <% @lp.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="content_image">
      <% if @lp.image.exists? %>
        <%= image_tag @lp.image.url %></br>
      <% end %>
      <%= form.file_field :image %>
    </div>

    <div class="content_text">
      <p>
        <%= form.collection_select(:artist_id, Artist.all, :id, :name) %>
      </p>
      
      <p>
        <%= form.label :Name %><br>
        <%= form.text_field :name %>
      </p>

      <p>
        <%= form.label :Description %><br>
        <%= form.text_area :description %>
      </p>
    </div>

    <div class="clear"></div>
    <%= form.submit 'Update', :class => "button_update" %>
   
  <% end %>
</div>