<section class="menu">
  <%= link_to 'Artists', artists_path, :class => "button"  %>
  <%= link_to 'Albums', lps_path, :class => "button active" %>
</section>

<div class="center_content">
  <h1>Albums
  <%= link_to '<i class="fa fa-plus-circle"></i>'.html_safe, new_lp_path, :class => "button_new" %></h1>
   
  <table class="list">
   
    <% @lps.each do |lp| %>
      <tr>
        <td><div class="image" style="background-image: url(<%= lp.image.url %>)"></div></td>
        <td><%= lp.name %></td>
        <td><%= lp.description %></td>
        <td>
          <%= link_to '<i class="fa fa-eye"></i>'.html_safe, lp_path(lp) %>
        </td>
        <td>
          <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_lp_path(lp) %>
        </td>
        <td><%= link_to '<i class="fa fa-trash"></i>'.html_safe, lp_path(lp),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </table>

</div>