<section class="menu">
	<a href="javascript:history.back()" class="button">Back</a>
  	<%= link_to 'Artists', artists_path, :class => "button"  %>
  	<%= link_to 'Albums', lps_path, :class => "button active" %>
</section>

<div class="center_content">
	<h1>New Album</h1>

	<%= form_for(:lp, :url => lps_path, :html => {:multipart => true}) do |form| %>

		<% if @lp.errors.any? %>
		    <div id="error_explanation">
		      	<h2>
			        <%= pluralize(@lp.errors.count, "error") %> prohibited
			        this lp from being saved:
		      	</h2>
		      	<ul>
			        <% @lp.errors.full_messages.each do |msg| %>
			          <li><%= msg %></li>
			        <% end %>
		      	</ul>
		    </div>
		<% end %>

		<p>
			<%= form.collection_select(:artist_id, Artist.all, :id, :name) %>
		</p>

	  	<p>
		    <%= form.label :Name %><br>
		    <%= form.text_field :name %>
	  	</p>
	 
	  	<p>
		    <%= form.label :Description %><br>
		    <%= form.text_area :description %>
	  	</p>

	  	<p>
		    <%= form.label :Image %><br>
		    <%= form.file_field :image %>
	  	</p>
	 
	  	<p>
	    	<%= form.submit 'Save' %>
	  	</p>
	<% end %>
</div>