<section class="menu">
 	<a href="javascript:history.back()" class="button">Back</a>
 	<%= link_to 'Artists', artists_path, :class => "button"  %>
  	<%= link_to 'Albums', lps_path, :class => "button active" %>
</section>

<div class="center_content">
	<div class="content_image">
	  <%= image_tag @lp.image.url %>
	</div>
	<div class="content_text">
		<p>
		  <strong>Artist:</strong>
		  <%= @lp.artist.name %>
		</p>
		<p>
		  <strong>Album Name:</strong>
		  <%= @lp.name %>
		</p>
		 
		<p>
		  <strong>Description:</strong>
		  <%= @lp.description %>
		</p>
	</div>
</div>