<section class="menu">
  <a href="javascript:history.back()" class="button">Back</a>
  <%= link_to 'Artists', artists_path, :class => "button active"  %>
  <%= link_to 'Albums', lps_path, :class => "button" %>
</section>

<div class="center_content">
  <h1>Edit artist</h1>

  <%= form_with(model: @artist, local: true) do |form| %>

    <% if @artist.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@artist.errors.count, "error") %> prohibited
          this artist from being saved:
        </h2>
        <ul>
          <% @artist.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="content_image">
      <% if @artist.image.exists? %>
        <%= image_tag @artist.image.url %></br>
      <% end %>
      <%= form.file_field :image %>
    </div>
   
    <div class="content_text">
      <p>
        <%= form.label :Name %><br>
        <%= form.text_field :name %>
      </p>

      <p>
        <%= form.label :Description %><br>
        <%= form.text_area :description %>
      </p>
    </div>

    <div class="clear"></div>
    <%= form.submit 'Update', :class => "button_update" %>

  <% end %>
</div>