<section class="menu">
  <%= link_to 'Artists', artists_path, :class => "button active"  %>
  <%= link_to 'Albums', lps_path, :class => "button" %>
</section>

<div class="center_content">
  <h1>Artists
  <%= link_to '<i class="fa fa-plus-circle"></i>'.html_safe, new_artist_path, :class => "button_new" %></h1>
   
  <table class="list">
   
    <% @artists.each do |artist| %>
      <tr>
        <td><div class="image" style="background-image: url(<%= artist.image.url %>)"></div></td>
        <td><%= artist.name %></td>
        <td><%= artist.description %></td>
        <td>
          <%= link_to '<i class="fa fa-eye"></i>'.html_safe, artist_path(artist) %>
        </td>
        <td>
          <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_artist_path(artist) %>
        </td>
        <td><%= link_to '<i class="fa fa-trash"></i>'.html_safe, artist_path(artist),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>

  </table>
</div>