<section class="menu">
  <a href="javascript:history.back()" class="button">Back</a>
  <%= link_to 'Artists', artists_path, :class => "button active"  %>
  <%= link_to 'Albums', lps_path, :class => "button" %>
</section>

<div class="center_content">
	<h1>New Artist</h1>

	<%= form_for(:artist, :url => artists_path, :html => {:multipart => true}) do |form| %>

		<% if @artist.errors.any? %>
		    <div id="error_explanation">
		      	<h2>
			        <%= pluralize(@artist.errors.count, "error") %> prohibited
			        this artist from being saved:
		      	</h2>
		      	<ul>
			        <% @artist.errors.full_messages.each do |msg| %>
			          <li><%= msg %></li>
			        <% end %>
		      	</ul>
		    </div>
		<% end %>

	  	<p>
		    <%= form.label :Name %><br>
		    <%= form.text_field :name %>
	  	</p>
	 
	  	<p>
		    <%= form.label :Description %><br>
		    <%= form.text_area :description %>
	  	</p>

	  	<p>
		    <%= form.file_field :image %>
	  	</p>
	 
	  	<p>
	    	<%= form.submit 'Save' %>
	  	</p>
	<% end %>
</div>