<section class="menu">
  <a href="javascript:history.back()" class="button">Back</a>
  <%= link_to 'Artists', artists_path, :class => "button active"  %>
  <%= link_to 'Albums', lps_path, :class => "button" %>
</section>


  <%= link_to 'Edit', edit_artist_path(@artist) %>

<div class="center_content">
  <div class="content_image">
    <%= image_tag @artist.image.url %>
  </div>

  <div class="content_text">
    <p>
      <strong>Name:</strong>
      <%= @artist.name %>
    </p>
     
    <p>
      <strong>Description:</strong>
      <%= @artist.description %>
    </p>

    <p>
      <strong>Number of Albums:</strong>
      <%= @artist.lps.size %>
    </p>
  </div>

  <div class="clear"></div>
  <hr>

  <table class="list">
      <% @artist.lps.each do |lp| %>
        <tr>
          <td><div class="image" style="background-image: url(<%= lp.image.url %>)"></div></td>
          <td><%= lp.name %></td>
          <td><%= lp.description %></td>
          <td>
            <%= link_to '<i class="fa fa-eye"></i>'.html_safe, lp_path(lp) %>
          </td>
          <td>
            <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_lp_path(lp) %>
          </td>
          <td><%= link_to '<i class="fa fa-trash"></i>'.html_safe, lp_path(lp),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
    <% end %>
  </table>
</div>