/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
*/
html{
 	background: url(bg.png) repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: sans-serif;
}
body{
	margin: 0px;
}
.welcome_content{
 	color:white;
 	text-transform:uppercase; 
 	text-align: center;
 	margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.center_content{
 	color:white;
 	width: 800px;
 	margin: auto;
  margin-top: 80px;
}
.welcome_content h1{
 	text-align: center;
  margin-bottom: 45px;
}
.center_content h1{
}
.button_new{
  color: white;
  float: right;
}
.button_new:hover{
  color: black;
}
.button,
input[type=submit]{
 	margin: 5px;
 	background: #333;
 	color: white;
 	text-decoration: none;
  padding: 10px 40px 10px 40px;
  border:2px solid #333;
  cursor: pointer;
}
input[type=file]{
  margin: 5px;
  color: white;
  text-decoration: none;
  padding: 10px 40px 10px 40px;
  border:2px solid white;
  cursor: pointer;
}
.button:hover,
input[type=submit]:hover,
input[type=file]:hover{
 	background: white;
 	color: black;
}
.button_update{
  float: right;
}
.button.active{
	background: #74ad96;
}
.menu{
	width: 100%;
	line-height: 50px;
	background: black;
	margin:0;
	position: fixed;
	top: 0;
  text-align: center;
}
.list{
  border-collapse: collapse;
}
.list td{
  background: #0000002e;
  color: black;
  font-size: 10pt;
}
.list tr td:nth-child(2){
  font-weight: bold;
  width: 100px;
}
.list tr td:nth-child(4){
  width: 40px;
  text-align: center;
}
.list tr td:nth-child(5){
  text-align: center;
}
.list tr td:nth-child(6){
  width: 50px;
  text-align: center;
}

.content_image img{
  width: 350px;
}
.content_image,
.content_text{
  float: left;
}
.content_text{
  width: 50%;
  padding-left: 20px;
} 

.list td .image{
  width: 90px;
  height: 90px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 10px;
}
.icon_home{
  color: white;
  font-size: 15pt;
  margin: 10px;
}
.list td a{
  color: black;
  font-size: 15pt;
  margin: 10px;
}
.list td a:hover{
  color: white;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-top: 8px;
}
select {
  width: 103%;
}
.content_text select{
  width: 106%;
}
textarea{
  height: 135px;
}
.clear{
  clear: both;
}